<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-block">
                <select name='pid' class='layui-select full-width' lay-ignore>
                    <!--{foreach $menus as $menu}-->
                    <!--{eq name='menu.id' value='$vo.pid|default=0'}-->
                    <option selected value='{$menu.id}'>{$menu.spl|raw}{$menu.title}</option>
                    <!--{else}-->
                    <option value='{$menu.id}'>{$menu.spl|raw}{$menu.title}</option>
                    <!--{/eq}-->
                    <!--{/foreach}-->
                </select>
                <p class="help-block"><b>必选</b>，请选择上级菜单或顶级菜单（目前最多支持三级菜单）</p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品分类名称</label>
            <div class="layui-input-block">
                <input name="title" required value='{$vo.title|default=""}' placeholder="请输入商品分类名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品分类图片</label>
            <div class="layui-input-block">
                <input type="hidden" name="logo" value="{$vo.logo|default=''}">
                <p class="help-block"><b>注意：</b>分类图片用于子分类</p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品分类描述</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="desc">{$vo.desc|default=''}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否推荐</label>
            <div class="layui-input-block">
                <input type="checkbox" lay-skin="switch" lay-text="是|否" value="{$vo.is_recommend|default=0}" {$vo.is_recommend?'checked':''} lay-filter="switchTab">
                <input name="is_recommend" value="{$vo.is_recommend|default='0'}" type="hidden">
                <p class="help-block"><b>注意：</b>推荐状态用于子分类</p>
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>
        $(function () {
            $('input[name="logo"]').uploadOneImage();
            //监听指定开关
            form.on('switch(switchTab)', function () {
                $(this).val(this.checked ? '1' : '0');
                $(this).parent().find('input[type=hidden]').val(this.checked ? '1' : '0');
            });
            form.render();
        });
    </script>

</form>